/* Admin bar */
#wp-admin-bar-wp-logo,
#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#wp-admin-bar-updates,
#wp-admin-bar-site-name .ab-sub-wrapper{
	display: none !important;
}

/* Menu */
.wp-menu-separator,
#minor-publishing-actions,
#menu-posts-b-post-settings > ul > li:first-child+li,
#menu-posts-b-post-settings > ul > li:first-child+li+li,
.acf-postbox .hndle,
.acf-postbox .handlediv,
#newcategory_parent{
	display: none;	
}

/* Footer */
#footer-upgrade{
	display: none;
}


/* User Profile */
form#your-profile > h3,
form#your-profile > table tr.user-rich-editing-wrap,
form#your-profile > table tr.user-comment-shortcuts-wrap,
form#your-profile > table tr.user-url-wrap,
form#your-profile > table tr.user-description-wrap{
	display: none;
}
form#your-profile > table{
	margin: 0;
}
form#your-profile > table th{
	padding: 8px 0 0 0;
	height: 20px;
	width: 180px !important;
	font-size: 12px;
}
form#your-profile > table td{
	padding: 5px 0;
}
form#your-profile > table td input[type="text"],
form#your-profile > table td input[type="password"],
form#your-profile > table td input[type="email"],
form#your-profile > table td select{
	height: 35px;
	font-size: 12px;
	padding: 0 10px;
	width: 420px;
}
form#your-profile > table p.description,
form#your-profile > table span.description{
	font-size: 12px;
	color: rgba(0,0,0,.5);
}
.color-option{
	background: #ddd;
	font-size: 12px; 
}
.color-option.selected{
	background: #ccc;
}
#destroy-sessions{
	font-size: 12px;
}
@media only screen 
and (min-device-width: 1024px){
	.color-option{
		width: 11.9%;
		padding: 5px 10px 10px;
	}
	.color-option label{
		width: 100%;
	}
}

@media only screen 
and (min-device-width: 1280px){
	.color-option{
		width: 12%;
		padding: 5px 10px 10px;
	}
}