.section .section-item{
	margin: 15px 0;
}
.section .section-item h2{
	margin: 5px 0 20px;
	font-size: 18px;
	line-height: 23px;
}
@media only screen 
and (min-width: 992px) {
	.section .section-item h2{
		font-size: 24px;
		line-height: 31px;
	}
}
@media only screen 
and (min-width: 1200px) {
	.section .section-item h2{
		font-size: 28px;
		line-height: 35px;
	}
}
@media only screen 
and (max-width: 768px) {
	.section .section-item p{
		font-size: 13px;
	}
}
.section a{ 
	color: #231F20; 
	-webkit-transition: all 0.4s ease 0s;
       -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
         -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.section a:hover{ 
	color: #547F3A;
	-webkit-transition: all 0.2s ease 0s;
       -moz-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
         -o-transition: all 0.2s ease 0s;
            transition: all 0.2s ease 0s;
}
.section a.readmore{
	color: #fff;
	float: left;
	margin-top: -40px;
	padding: 10px 15px;
	text-decoration: none;
	background: #8CC441;
}
.section a.readmore:hover{ 
	background: #547F3A; 
}
@media only screen 
and (max-width: 768px) {
	.section a.readmore{
		font-size: 12px;
		padding: 5px 10px;
		margin-top: -26px;
	}
}