.section .section-item{
	margin: 15px 0;
	padding: 25px 0 0;
	border-top: solid #ccc 1px;
}
.section .section-item:first-child{
	border-top: 0;
	padding-top: 0;
	margin-top: 0;
}
.section .section-item h2{
	margin: 5px 0 20px;
	font-size: 20px;
	line-height: 25px;
}
.section .section-item span{
	color: rgba(0,0,0,.5);
}
@media only screen 
and (min-width: 992px) {
	.section .section-item h2{
		font-size: 24px;
		line-height: 31px;
	}
}
@media only screen 
and (min-width: 1200px) {
	.section .section-item h2{
		font-size: 28px;
		line-height: 35px;
	}
}
.section .section-item img{
	max-width: 443px;
	max-height: 311px;
}
@media only screen 
and (max-width: 768px) {
	.section .section-item p{
		font-size: 13px;
	}
}
.section a{ 
	color: #231F20; 
	-webkit-transition: all 0.4s ease 0s;
       -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
         -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.section a:hover{ 
	color: #8CC441;
	-webkit-transition: all 0.2s ease 0s;
       -moz-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
         -o-transition: all 0.2s ease 0s;
            transition: all 0.2s ease 0s;
}
.section a.readmore{
	color: #fff;
	float: right;
	padding: 10px 15px;
	text-decoration: none;
	background: #8CC441;
}
.section a.readmore:hover{ 
	background: #547F3A; 
}
@media only screen 
and (max-width: 768px) {
	.section a.readmore{
		font-size: 12px;
		padding: 5px 10px;
	}
}
.section .section-item .status span{
	float: left;
	margin-right: 40px;
	padding: 10px 0;
}
.section .section-item .status span i{
	font-style: normal;
	color: #8CC441;
}
@media only screen 
and (max-width: 768px) {
	.section .section-item .status span{
		font-size: 12px;
	}
}



/* Single */
.single .section-item{
	padding: 0 15px;
	border-top: none;
}
.single h2{	
	color: #8CC441;
	padding: 0 0 10px;
	border-bottom: solid #8CC441 1px;
}
.single h2 span{ 
	color: #231F20 !important;
}
.single table{
	width: 100%;
	border-collapse: collapse;
}
.single table td{
	padding: 2px 0;
}
.single table td:first-child{
	width: 170px;
}
.single ul,
.single ol{
	margin: 0 0 0 14px;
	padding: 0;
}
.single .lets-talk{
	margin: 0 !important;
}
.single .lets-talk li{
	list-style: outside none none;
	background: url(../images/footer-icon.png) 0 0 no-repeat;
	padding-left: 32px;
	margin-bottom: 4px;
	min-height: 18px;
}
.single .lets-talk li:first-child+li{
	background-position: 0 -20px;
}
.single .lets-talk li:first-child+li+li{
	background-position: 0 -40px;
}
.single .lets-talk li a{
	color: #231F20;
	font-weight: 700;
	-webkit-transition: all 0.5s ease 0s;
       -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
         -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
}
.single .lets-talk li a:hover{
	color: #8CC441;
}