.jparallax { 
	height: 500px;
	background: #F2F2F2;
	overflow:hidden;
	position:relative;
	-ms-transform:translateZ(0);
	transform:translateZ(0);
}
@media (min-width: 1200px) and (max-width: 1600px) {
	.jparallax { height:410px; }
}
/*@media (min-width: 768px) and (max-width: 979px) {
	.jparallax { height:450px; }
}
@media (max-width: 767px) {
	.jparallax { height:300px; }
}*/



.jparallax #mainCaptionHolder .container { top:41.5%; }
@media (min-width: 980px) and (max-width: 1200px) {
	.jparallax #mainCaptionHolder .container { top:38%; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.jparallax #mainCaptionHolder .container { top:40%; }
}
@media (max-width: 767px) {
	.jparallax #mainCaptionHolder .container { top:10%; }
}




.jparallax #mainCaptionHolder .slider_caption {
	padding: 0;
	color: #fff;
	font-weight: 400;
	text-align:center;
	text-transform: uppercase;
	margin-top: -10px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.jparallax #mainCaptionHolder .slider_caption h1+h1{
	font-weight: 700;
}
@media only screen 
and (min-width: 980px) 
and (max-width: 1200px){
	.jparallax #mainCaptionHolder .slider_caption {
		text-align: left;
		padding: 0 0 0 220px;
	}
}
@media only screen 
and (min-width: 768px) 
and (max-width: 979px){
	.jparallax #mainCaptionHolder .slider_caption h1{
		font-size: 30px;
	}
	.jparallax #mainCaptionHolder .slider_caption h4{
		font-size: 14px;
	}
}








.jparallax #mainCaptionHolder .slider_caption a {
	text-decoration:none;
	color:#fff;
}
.jparallax #mainCaptionHolder .slider_caption a:focus {
	text-decoration:none;
	color:#fff;
}
.jparallax #mainCaptionHolder .slider_caption a:hover {
	text-decoration:none;
	color:#fe8f01;
}
.jparallax .controlBtn .slidesCounter {
	display:none;
	font-size:16px;
	line-height:55px;
	color:#fff;
	background:#9b9b9b;
}








/* */
.jparallax .parallaxPrevBtn,
.jparallax .parallaxNextBtn{
	width:69px;
	height:69px;
	position:absolute;
	top:50%;
	margin-top: -37px;
	background:rgba(116,189,76,0.33) url(../../images/control.png) 0 0 no-repeat;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.jparallax .parallaxPrevBtn{
	left: 50%;
	margin-left: -930px;
}
.jparallax .parallaxNextBtn {
	right: 50%;
	margin-right: -930px;
	background-position: -69px 0;
}
@media only screen 
and (min-width: 1201px) 
and (max-width: 1600px){
	.jparallax .parallaxPrevBtn { 
		margin-left: -600px;
	}
	.jparallax .parallaxNextBtn {
		margin-right: -600px;
	}
}
@media only screen 
and (min-width: 980px) 
and (max-width: 1200px){
	.jparallax .parallaxPrevBtn { margin-left:-470px; }
	.jparallax .parallaxNextBtn { 
		margin-left:-390px;
		right:auto;
		left:50%; 
	}
}
@media only screen 
and (min-width: 768px) 
and (max-width: 979px){
	.jparallax .parallaxPrevBtn { margin-left:-362px; }
	.jparallax .parallaxNextBtn { margin-right:-362px; }
}
@media only screen 
and (max-width: 767px){
	.jparallax .parallaxPrevBtn,
	.jparallax .parallaxNextBtn {
		top: auto !important;
		bottom: 10px !important;
		width: 40px;
		height: 40px;
	}
	.jparallax .parallaxPrevBtn {		
		margin: 0 0 0 -45px !important;
	}
	.jparallax .parallaxNextBtn {
		margin: 0 -45px 0 0 !important;
	}
	.jparallax .parallaxPrevBtn:before,
	.jparallax .parallaxNextBtn:before{
		width: 40px;
		height: 40px;
		font-size:40px;
		line-height:40px;
	}	
}
.jparallax .parallaxPrevBtn,
.jparallax .parallaxPrevBtn:before,
.jparallax .parallaxPrevBtn:focus,
.jparallax .parallaxPrevBtn:focus:before,
.jparallax .parallaxPrevBtn:hover,
.jparallax .parallaxPrevBtn:hover:before,
.jparallax .parallaxNextBtn,
.jparallax .parallaxNextBtn:focus,
.jparallax .parallaxNextBtn:focus:before,
.jparallax .parallaxNextBtn:hover,
.jparallax .parallaxNextBtn:hover:before,
.jparallax .parallaxNextBtn:before{
	-webkit-transition: all .5s;
       -moz-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}
.jparallax .parallaxPrevBtn:focus,
.jparallax .parallaxNextBtn:focus{
	background-color:rgba(255,255,255,0.33);
}
.jparallax .parallaxPrevBtn:focus:before,
.jparallax .parallaxNextBtn:focus:before {
	color:#333;
}
.jparallax .parallaxPrevBtn:hover,
.jparallax .parallaxNextBtn:hover{
	background-color:#8CC441;
}
.jparallax .parallaxPrevBtn:hover:before,
.jparallax .parallaxNextBtn:hover:before{	
	color:#fff;
}
.jparallax .parallaxPrevBtn:before,
.jparallax .parallaxNextBtn:before{
	display:block;	
	line-height:65px;
	font-family:FontAwesome;
	font-size:65px;
	text-align:center;
	color:#fff;	
}
.jparallax .parallaxPrevBtn:before{
	padding:0 5px 0 0;
	/*content:'\f104';*/
}
.jparallax .parallaxNextBtn:before {
	padding:0 0 0 5px;
	/*content:'\f105';*/
}
.jparallax .parallaxPrevBtn .innerBtn,
.jparallax .parallaxNextBtn .innerBtn{ 
	display:none !important; 
}













.jparallax #paralaxSliderPagination {
	padding:10px 0;
	bottom:0px;
}
.jparallax #paralaxSliderPagination.buttons_pagination ul li {
	border-radius:50%;
	margin:3px;
	width:15px;
	height:15px;
	border:2px solid #fff;
}
.jparallax #paralaxSliderPagination.buttons_pagination ul li:hover, .jparallax #paralaxSliderPagination.buttons_pagination ul li.active { background:#9b9b9b; }
.jparallax #paralaxSliderPagination.images_pagination ul li {
	margin:3px;
	opacity:.5;
}
.jparallax #paralaxSliderPagination.images_pagination ul li:hover, .jparallax #paralaxSliderPagination.images_pagination ul li.active { opacity:1; }
.jparallax .jparallax-video-progress { background:#fe8f01; }
.jparallax #previewSpinner {
	width:50px;
	height:50px;
	margin-left:-25px;
	margin-top:-25px;
	border-radius:25px;
	background:url(jparallax/img/spinner.GIF) 50% 50% #fff no-repeat;
}




.jparallax .baseList { display:none; }
.jparallax .jparallax-video-progress-bar {
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	width:100%;
	height:8px;
	background:url(jparallax/img/loader.gif) 0 0 repeat-x;
	z-index:5;
}
.jparallax .jparallax-video-progress {
	width:0;
	height:100%;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s;
}
.jparallax .jparallax-vimeo-video { overflow:hidden; }
.jparallax .jparallax-vimeo-video .jparallax-vimeo-iframe {
	margin-top:-100px;
	max-width:none;
}
.jparallax #mainImageHolder {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
}
.jparallax #mainImageHolder .primaryHolder, .jparallax #mainImageHolder .secondaryHolder {
	position:absolute;
	width:100%;
	top:0;
	left:0;
}
.jparallax #mainImageHolder .primaryHolder .obj-inner, .jparallax #mainImageHolder .secondaryHolder .obj-inner {
	max-width:inherit;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.jparallax #mainCaptionHolder {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:2;
}
.jparallax #mainCaptionHolder >a {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.jparallax #mainCaptionHolder .container { position:relative; }
.jparallax #mainCaptionHolder .primaryCaption, .jparallax #mainCaptionHolder .secondaryCaption {
	position:absolute;
	width:100%;
	top:0;
	left:0;
}
.jparallax .controlBtn {
	position:absolute;
	cursor:pointer;
	display:block;
	top:50%;
	z-index:2;
}
.jparallax .controlBtn .innerBtn {
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	position:relative;
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	z-index:1;
}
.jparallax .controlBtn .slidesCounter {
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	position:absolute;
	top:0;
	width:60%;
	height:100%;
}
.jparallax .controlBtn.parallaxPrevBtn .slidesCounter {
	left:0%;
	text-align:left;
}
.jparallax .controlBtn.parallaxPrevBtn:hover .slidesCounter { left:100%; }
.jparallax .controlBtn.parallaxNextBtn .slidesCounter {
	right:0%;
	text-align:right;
}
.jparallax .controlBtn.parallaxNextBtn:hover .slidesCounter { right:100%; }
.jparallax #paralaxSliderPagination {
	position:absolute;
	width:100%;
	text-align:center;
	z-index:2;
}
.jparallax #paralaxSliderPagination ul {
	list-style:none;
	margin:0;
}
.jparallax #paralaxSliderPagination ul li {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	cursor:pointer;
	display:inline-block;
}
.jparallax #previewSpinner {
	position:absolute;
	display:block;
	top:50%;
	left:50%;
	z-index:99;
}
.jparallax.zoom-fade-eff #mainImageHolder .primaryHolder {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.jparallax.zoom-fade-eff #mainImageHolder .primaryHolder.animateState {
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transform:scale(3);
	-moz-transform:scale(3);
	-ms-transform:scale(3);
	-o-transform:scale(3);
	transform:scale(3);
}
.jparallax.zoom-fade-eff #mainImageHolder .secondaryHolder {
	opacity:1;
	filter:alpha(opacity=100);
}
.jparallax.zoom-fade-eff #mainImageHolder .secondaryHolder.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.jparallax.zoom-fade-eff #mainCaptionHolder .primaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
}
.jparallax.zoom-fade-eff #mainCaptionHolder .primaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.jparallax.zoom-fade-eff #mainCaptionHolder .secondaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
}
.jparallax.zoom-fade-eff #mainCaptionHolder .secondaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.jparallax.simple-fade-eff #mainImageHolder .primaryHolder {
	opacity:1;
	filter:alpha(opacity=100);
}
.jparallax.simple-fade-eff #mainImageHolder .primaryHolder.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.jparallax.simple-fade-eff #mainImageHolder .secondaryHolder.animateState {
	opacity:1;
	filter:alpha(opacity=100);
}
.jparallax.simple-fade-eff #mainImageHolder .secondaryHolder.animateState.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.jparallax.simple-fade-eff #mainCaptionHolder .primaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.jparallax.simple-fade-eff #mainCaptionHolder .primaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.jparallax.simple-fade-eff #mainCaptionHolder .secondaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
}
.jparallax.simple-fade-eff #mainCaptionHolder .secondaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.jparallax.slide-top-eff #mainImageHolder .primaryHolder { top:0; }
.jparallax.slide-top-eff #mainImageHolder .primaryHolder.animateState { top:-100%; }
.jparallax.slide-top-eff #mainImageHolder .secondaryHolder.animateState { top:0; }
.jparallax.slide-top-eff #mainImageHolder .secondaryHolder.animateState.animateState { top:100%; }
.jparallax.slide-top-eff #mainCaptionHolder .primaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.jparallax.slide-top-eff #mainCaptionHolder .primaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.jparallax.slide-top-eff #mainCaptionHolder .secondaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
}
.jparallax.slide-top-eff #mainCaptionHolder .secondaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}